@charset "UTF-8";

#chatView::-webkit-scrollbar { 
    display: none; 
}

#msg::-webkit-scrollbar{
	display : none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	left: 960px;
	top: 90px;
	width: 340px; /* Full width */
	height: 600px; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #FFD2D7; /* Black w/ opacity */
	border: 1px solid black;
	box-shadow: 0px 0px 6px 2px gray;
	/*border : 3px solid #EEEEEE;*/
}



/* Modal Content/Box */
.cosTalk-content {
	float: left;
	width: 60px;
	height: 100%;
	background-color: #FFF0F0;
}

.cosTalk-function {
	height: 40px;
	width: 40px;
}

.cosTalk-friendTab {
	float: right;
	width: 250px;
	height: 60px;
	margin-top: 5px;
}

.cosTalk-chatTab {
	float: right;
	width: 250px;
	height: 60px;
	margin-top: 5px;
}

.cosTalk-chatFunction {
	float: right;
	width: 250px;
	height: 60px;
	margin-top: 5px;
}

.cosTalk-chatFunctionT {
	background-color: #FFB6C1;
	width: 338px;
	height: 80px;
	margin-top: -5px;
	margin-left: -48px;
}

.cosTalk-chatFunctionW {
	background-color: white;
	width: 338px;
	height: 84px;
	margin-left: -48px;
}

.cosTalk-chatFunctionB {
	background-color: white;
	width: 30px;
	height: 133px;
	margin-top: 400px;
	margin-left: -28px;
}

div#chatView {
	height: 434px;
	overflow-y: scroll;
	width: 290px;
}

div.msgLine {
	margin: 15px;
}

div.msgBox {
	border: none;
	background: yellow;
	padding: 6px 8px;
	border-radius: 2px;
	text-align :left;	
}


div.memberLine {
	margin: 10px;
}

div.memberBox {
	border: none;
	background: pink;
	width: 250px;
	height: 50px;
	text-align: left;
	font-size: 10pt;
	float: left;
	border-radius: 2px 2px;
}

input.memberButton {
	background-color: yellow;
	width: 70px;
	height: 50px;
	border-radius: 2px 2px;
	border: none;
	float: left;
	font-size: 10pt;
	outline: none;
}

div.friendLine {
	margin: 10px;
}

div.friendBox {
	border: none;
	background: pink;
	width: 278px;
	height: 50px;
	text-align: left;
	font-size: 15pt;
	margin-left: 15px;
    margin-top: 15px;
}

div.chatNameBox {
	border: none;
	background: pink;
	width: 278px;
	height: 50px;
	text-align: left;
	font-size: 15pt;
	margin-left: 15px;
	margin-top: 15px;
}

input.chatAddW{
	width : 96%;
	height : 40px;
	font-size : 12pt;
	background-color :#FFF0F0;
	margin-left : 2%;
	margin-top : 20px; 
	border: none;
	outline : none;
	
}

input#bBtn {
	float: left;
	width: 26px;
	height: 40px;
	border: none;
	background-color: #FFB6C1;
	background-image: url('../../resources/images/backarrow2_1.png');
	background-repeat: no-repeat;
	margin-left: 4px;
	margin-top: 22px;
	outline: none;
}

input#bBtnn {
	float: left;
	width: 26px;
	height: 40px;
	border: none;
	background-color: #FFB6C1;
	background-image: url('../../resources/images/backarrow2_1.png');
	background-repeat: no-repeat;
	margin-left: 4px;
	margin-top: 22px;
	outline: none;
}

input.cTfunction {
	float: right;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFD2D7;
	background-image: url('../../resources/images/closeBtn1.png');
	background-repeat: no-repeat;
}

input#friendBtnn1 {
	float: left;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFF0F0;
	background-image: url('../../resources/images/heart1_1.png');
	background-repeat: no-repeat;
}

input#friendBtnn2 {
	float: left;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFF0F0;
	background-image: url('../../resources/images/friendBtn2.png');
	background-repeat: no-repeat;
}

input#chatBtnn1 {
	float: left;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFF0F0;
	background-image: url('../../resources/images/chatbox_2.png');
	background-repeat: no-repeat;
}

input#chatBtnn2 {
	float: left;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFF0F0;
	background-image: url('../../resources/images/chatbox_1.png');
	background-repeat: no-repeat;
}

input#chatAddBtnn {
	float: left;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #FFD2D7;
	background-image: url('../../resources/images/addchat_1_4.png');
	background-repeat: no-repeat;
}

input#friendCustomerBtnn {
	font-weight: 200;
	font-size: 13pt;
	text-align: left;
	width: 100%;
	height: 60px;
	border: none;
	background-color: #FFD2D7;
	background-image: url('../../resources/images/profile_1.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	margin-left: -22px;
}

input#chatCustomerBtnn {
	font-weight: 200;
	font-size: 8pt;
	text-align: left;
	width: 20%;
	height: 60px;
	border: none;
	background-color: #FFD2D7;
	background-image: url('../../resources/images/profile_1.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	margin-left: -22px;
	float: left;
}

input#friendHospitalBtnn {
	font-weight: 200;
	font-size: 13pt;
	text-align: left;
	width: 100%;
	height: 60px;
	border: none;
	background-color: #FFD2D7;
	background-image: url('../../resources/images/profileHos_1.png');
	background-repeat: no-repeat;
	background-position: 10px 10px;
}