@charset "UTF-8";


input[type=radio].radio {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

input[type=radio].radio+.label::before {  
  border:1px solid #dbdbdb; 
  border-radius:0;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  height:28px;
  min-width:28px;
  margin-right:5px; 
  line-height: 28px;
  content: '';
}
input[type=radio].radio+.label::before {  
  line-height: 14px;
}

input[type=radio].radio:checked+.label:before {
  display:inline-block;
  content: '●';
  border:1px solid #282d41; 
  background-color:#fff;
  color: #282d41;  
  font-size: 14px;
  line-height: 28px;
}


input[type=radio].radio:hover+.label::before,
input[type=radio].radio+.label:hover::before {
  border-color:#282d41;
}

input[type=radio].radio:active+.label::before,
input[type=radio].radio:checked:active+.label::before {
  box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

input[type=radio].radio:disabled+.label::before,
input[type=radio].radio[disabled]+.label::before,
input[type=radio].radio.disabled+.label::before{
  background-color:#f0f0f0 !important;
  border-color:#c9c9c9 !important;
  box-shadow:none !important;
  color:#bbb;
}
input[type=radio].radio+.label::before {
  border-radius:100%;
  /*font-size:12px;
  line-height:17px;
  height:17px;
  min-width:17px;*/
}